html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

section p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

body {
  margin: 1rem;
}

img {
  display: block;
  width: 100%;
}

.banner {
  display: grid;
  column-gap: .5rem;
  grid-template-columns: 0 1fr 0;
  grid-template-rows: 1fr 6.5em;
  border-bottom: .2rem solid #e2e2e2;
  border-top: .2rem solid #e2e2e2;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.smaller {
  display: block;
  grid-column: 2;
  grid-row: 2;
}

p .smaller {
  padding-left: .5rem;
  padding-right: .5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.catch {
  grid-column: 2;
  grid-row: 1;
}

ul {
  display: flex;
  padding: 0;
  justify-content: space-around;
  margin-top: 0;
  margin-bottom: 1rem;
}

li {
  list-style-type: none;
  text-decoration: none;
  font-size: 1.125rem;
  justify-content: space-between;
}

a {
  color: #3783a3;
  list-style-type: none;
  text-decoration: none;
}

.btn {
  display: block;
  text-align: center;
  padding: .5em 1em .6em;
  border-radius: .3em;
  border: .2rem solid #3783a3;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

article {
  display: grid;
  grid-template-rows: auto;
  align-items: stretch;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  margin-top: 1rem;
}

h2 {
  font-size: 1.125rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

h3 i {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

header p {
  text-align: center;
}

i {
  font-size: 2rem;
}

footer {
  width: 100%;
  text-align: center;
  margin: 1.5rem;
  border-top: .2rem solid #e2e2e2;
  padding-top: 1.5rem;
  font-size: 1rem;
}

@media only screen and (min-width: 38em) {

  section {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .pads {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .banner {
    grid-template-columns: 1fr 30em 1fr;
    grid-template-rows: 1fr 4.75em;
  }

  .smaller {
    margin-top: -.5rem;
  }

  h1 {
    text-align: left;
    margin-top: 0;
  }

  li {
    margin-left: 1rem;
  }

  h2 {
    text-align: left;
  }

  h3 {
    text-align: left;
  }

  .second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

}
