html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
  padding: 1rem;
}

img {
  display: block;
  width: 100%;
}


nav {
  display: flex;
  text-align: center;

}

ul {
  display: flex;

}

li {
  list-style-type: none;
  text-decoration: none;
  padding-left: 1rem;
}


section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

article {
  justify-items: end;
  justify-content: flex-end;
  align-items: stretch;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
}

p {
  font-size: 1.125rem;
}

footer {
  font-size: 1rem;
}

header p {
  text-align: center;
}

i {
  font-size: 2rem;

}
.banner {
  max-width: 30em;
  margin: 1.5rem;
}

footer {
  text-align: center;
}

.btn {
  padding:.5em 1em .6em;
  border-radius: .3em;
  background-color: red;
}

@media only screen and (min-width: 38em) {

  section {
    grid-template-columns: 1fr 1fr 1fr;
  }

  h1 {
    text-align: left;
  }
  h2 {
    text-align: left;
  }

  nav {
    justify-content: flex-end;
  }


}
